In [1]:
import pandas as pd

In [2]:
df_admin = pd.read_excel(r"NZ_Admin_JOBS.xlsx", header=None, skiprows=[0])

In [3]:
df_admin[0] = df_admin[0].str.title()
df_admin[0]

0                              Administrator
1                               Receptionist
2               Prosecutions Support Officer
3       Early Childhood Centre Administrator
4             Business Support Administrator
                        ...
2703                     Key Account Manager
2704                     Executive Assistant
2705                  Temporary Office Roles
2706                  Temporary Office Roles
2707                     Executive Assistant
Name: 0, Length: 2708, dtype: object

In [4]:
def extract_job_id(x):
    startPos = x.index('?type=')
    return x[startPos-8:startPos]

In [5]:
def extract_job_type(x):
    startPos = x.index('?type=')
    endPos = x.index('#')
    return x[startPos+6:endPos]

In [7]:
df_admin['job_id'] = df_admin[1].apply(extract_job_id)
df_admin['job_type']= df_admin[1].apply(extract_job_type)
df_admin[['job_id', 'job_type']]

        job_id  job_type
0     50582301  promoted
1     50620889  promoted
2     50622169  standard
3     50639620  standard
4     50622432  standout
...        ...       ...
2703  50490062  standout
2704  50488000  standout
2705  50524865  standout
2706  50477118  standout
2707  50496571  standout

[2708 rows x 2 columns]

In [8]:
df_admin[2].isnull().sum()

22