In [1]:
from sqlalchemy import create_engine
import pandas as pd
import json

In [2]:
def db_Connection():
    db_username = 'root'
    db_password = 'zhuyz928'
    db_hostaddress = 'localhost:3306'
    
    try:
        db_connection_str = 'mysql+pymysql://' + db_username + ':' + db_password + '@' + db_hostaddress + '/spark_movies'
        db_connection = create_engine(db_connection_str)
    except mysql.connector.Error as err:
        print("Something went wrong: {}".format(err))
        return None
    
    return db_connection

In [3]:
def db_query(query, my_params):
    
    # Create the connection to DATABASE
    my_connection = db_Connection()
    
    if my_connection:
        my_data = pd.read_sql(query, my_connection, params = my_params)
        print(my_data)
    else:
        print('Failed to connect the DATABASE!!!')

In [4]:
def parse_input(my_input):
    columns = list(my_input.keys())
    values = []

    query = """SELECT * FROM movies m
        LEFT JOIN movie_genres mg ON m.tmdb_id = mg.movie_tmdb_id
        LEFT JOIN movie_prod_companies mpc ON m.tmdb_id  = mpc.movie_tmdb_id
        LEFT JOIN movie_prod_countries mpc2 ON m.tmdb_id = mpc2.movie_tmdb_id
    """

    if len(columns) > 0:
        columns = [column + ' = %s' for column in columns]
        query += "WHERE " + " AND ".join(columns)
        values = list(my_input.values())

    db_query(query, values)

In [5]:
def api_init():
    init_input = input(
        """
        Please enter the query params, currently only support the exactly query mode.

        * The input should meet the json format, e.g. {"tmdb_id": "862"} or {"company_id": "420", "country_code": "US"}.
        """
    )

    if init_input != '':
        my_input = json.loads(init_input)

        if type(my_input) is dict:
            parse_input(my_input)
        else:
            print('Invalid input!!!')
    else:
        print('Invalid input!!!')

In [7]:
api_init()

        Please enter the query params, currently only support the exactly query mode.

        * The input should meet the json format, e.g. {"tmdb_id": "862"} or {"company_id": "420", "country_code": "US"}.
         {"tmdb_id": "862"}

   adult    budget                              homepage tmdb_id imdb_id  \
0  False  30000000  http://toystory.disney.com/toy-story     862  114709
1  False  30000000  http://toystory.disney.com/toy-story     862  114709
2  False  30000000  http://toystory.disney.com/toy-story     862  114709

  original_language original_title  \
0                en      Toy Story
1                en      Toy Story
2                en      Toy Story

                                            overview popularity  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943
1  Led by Woody, Andy's toys live happily in his ...  21.946943
2  Led by Woody, Andy's toys live happily in his ...  21.946943

                        poster_path  ... vote_count movie_tmdb_id genre_id  \
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...       5415           862    10751
1  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...       5415           862       35
2  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...       5415           862       16

        name movie_tmdb_id company_id                     name movie_tmdb_id  \
0     Family           862          3  Pixar Animation Studios           862
1     Comedy           862          3  Pixar Animation Studios           862
2  Animation           862          3  Pixar Animation Studios           862

  country_code                      name
0           US  United States of America
1           US  United States of America
2           US  United States of America

[3 rows x 28 columns]