In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

In [3]:
spark = SparkSession \
    .builder \
    .appName("Spark_movie_data_clean") \
    .config("spark.master", "spark://ZHUYANZHAO-HWPC.localdomain:7077") \
    .config("spark.jars.packages", "mysql:mysql-connector-java:8.0.22") \
    .config("spark.executor.cores", "2") \
    .config("spark.executor.num", "1") \
    .getOrCreate()

22/06/18 16:47:12 WARN Utils: Your hostname, ZHUYANZHAO-HWPC resolves to a loopback address: 127.0.1.1; using 172.27.5.87 instead (on interface eth0)
22/06/18 16:47:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/george/spark/spark-3.2.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/home/george/spark/spark-3.2.1-bin-hadoop3.2/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/george/.ivy2/cache
The jars for the packages stored in: /home/george/.ivy2/jars
mysql#mysql-connector-java added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-fa430396-4227-4737-a313-22189386c0c1;1.0
	confs: [default]
	found mysql#mysql-connector-java;8.0.22 in central
	found com.google.protobuf#protobuf-java;3.11.4 in central
downloading https://repo1.maven.org/maven2/mysql/mysql-connector-java/8.0.22/mysql-connector-java-8.0.22.jar ...
	[SUCCESSFUL ] mysql#mysql-connector-java;8.0.22!mysql-connector-java.jar (3363ms)
downloading https://repo1.maven.org/maven2/com/google/protobuf/protobuf-java/3.11.4/protobuf-java-3.11.4.jar ...
	[SUCCESSFUL ] com.google.protobuf#protobuf-java;3.11.4!protobuf-java.jar(bundle) (1363ms)
:: resolution report :: resolve 8005ms :: artifacts dl 4748ms
	:: modules in use:
	com.google.protobuf#protobuf-java;3.11.4 from central in [default]
	mysql#mysql-connector-java;8.0.22 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   2   |   2   |   2   |   0   ||   2   |   2   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-fa430396-4227-4737-a313-22189386c0c1
	confs: [default]
	2 artifacts copied, 0 already retrieved (3955kB/41ms)
22/06/18 16:47:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
df_movie = spark.read.option("header","true").csv("./movies_metadata.csv")
df_movie.printSchema()
df_movie.show(5)

root
 |-- adult: string (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- id: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- video: string (nullable = true)
 |-- vote_average: string (nullable = true)
 |-- vote_count: string (nullable = true)

+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|adult|belongs_to_collection|  budget|              genres|            homepage|   id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|  status|             tagline|               title|   video|        vote_average|       vote_count|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|False| {'id': 10194, 'na...|30000000|[{'id': 16, 'name...|http://toystory.d...|  862|tt0114709|               en|           Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|          1995-10-30|           373554033|                81.0|[{'iso_639_1': 'e...|Released|                null|           Toy Story|   False|                 7.7|             5415|
|False|                 null|65000000|[{'id': 12, 'name...|                null| 8844|tt0113497|               en|             Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|          1995-12-15|           262797249|               104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|             Jumanji|   False|                 6.9|             2413|
|False| {'id': 119050, 'n...|       0|[{'id': 10749, 'n...|                null|15602|tt0113228|               en|    Grumpier Old Men|A family wedding ...|   11.7129|/6ksm1sjKMFLbO7UY...|[{'name': 'Warner...|[{'iso_3166_1': '...|          1995-12-22|                   0|               101.0|[{'iso_639_1': 'e...|Released|Still Yelling. St...|    Grumpier Old Men|   False|                 6.5|               92|
|False|                 null|16000000|[{'id': 35, 'name...|                null|31357|tt0114885|               en|   Waiting to Exhale|"Cheated on, mist...|    Bernie| Glo and Robin ta...| determined to fi...|            3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|          1995-12-22|81452156|               127.0|[{'iso_639_1': 'e...|Released|Friends are the p...|Waiting to Exhale|
|False| {'id': 96871, 'na...|       0|[{'id': 35, 'name...|                null|11862|tt0113041|               en|Father of the Bri...|Just when George ...|  8.387519|/e64sOI48hQXyru7n...|[{'name': 'Sandol...|[{'iso_3166_1': '...|          1995-02-10|            76578911|               106.0|[{'iso_639_1': 'e...|Released|Just When His Wor...|Father of the Bri...|   False|                 5.7|              173|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
only showing top 5 rows

In [5]:
import pyspark.sql.functions as f
df_movie = df_movie.drop("belongs_to_collection").withColumnRenamed("id", "tmdb_id")
df_movie = df_movie.select("*").withColumn("id", f.monotonically_increasing_id() + 1)
df_movie.printSchema()
df_movie.show(5)

root
 |-- adult: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- tmdb_id: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- video: string (nullable = true)
 |-- vote_average: string (nullable = true)
 |-- vote_count: string (nullable = true)
 |-- id: long (nullable = false)

+-----+--------+--------------------+--------------------+-------+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+---+
|adult|  budget|              genres|            homepage|tmdb_id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|  status|             tagline|               title|   video|        vote_average|       vote_count| id|
+-----+--------+--------------------+--------------------+-------+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+---+
|False|30000000|[{'id': 16, 'name...|http://toystory.d...|    862|tt0114709|               en|           Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|          1995-10-30|           373554033|                81.0|[{'iso_639_1': 'e...|Released|                null|           Toy Story|   False|                 7.7|             5415|  1|
|False|65000000|[{'id': 12, 'name...|                null|   8844|tt0113497|               en|             Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|          1995-12-15|           262797249|               104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|             Jumanji|   False|                 6.9|             2413|  2|
|False|       0|[{'id': 10749, 'n...|                null|  15602|tt0113228|               en|    Grumpier Old Men|A family wedding ...|   11.7129|/6ksm1sjKMFLbO7UY...|[{'name': 'Warner...|[{'iso_3166_1': '...|          1995-12-22|                   0|               101.0|[{'iso_639_1': 'e...|Released|Still Yelling. St...|    Grumpier Old Men|   False|                 6.5|               92|  3|
|False|16000000|[{'id': 35, 'name...|                null|  31357|tt0114885|               en|   Waiting to Exhale|"Cheated on, mist...|    Bernie| Glo and Robin ta...| determined to fi...|            3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|          1995-12-22|81452156|               127.0|[{'iso_639_1': 'e...|Released|Friends are the p...|Waiting to Exhale|  4|
|False|       0|[{'id': 35, 'name...|                null|  11862|tt0113041|               en|Father of the Bri...|Just when George ...|  8.387519|/e64sOI48hQXyru7n...|[{'name': 'Sandol...|[{'iso_3166_1': '...|          1995-02-10|            76578911|               106.0|[{'iso_639_1': 'e...|Released|Just When His Wor...|Father of the Bri...|   False|                 5.7|              173|  5|
+-----+--------+--------------------+--------------------+-------+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+---+
only showing top 5 rows

In [6]:
df_movie = df_movie.withColumn('imdb_id', f.col('imdb_id').substr(f.lit(4), f.length('imdb_id')))
df_movie.show(5)

+-----+--------+--------------------+--------------------+-------+-------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+---+
|adult|  budget|              genres|            homepage|tmdb_id|imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|  status|             tagline|               title|   video|        vote_average|       vote_count| id|
+-----+--------+--------------------+--------------------+-------+-------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+---+
|False|30000000|[{'id': 16, 'name...|http://toystory.d...|    862| 114709|               en|           Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|          1995-10-30|           373554033|                81.0|[{'iso_639_1': 'e...|Released|                null|           Toy Story|   False|                 7.7|             5415|  1|
|False|65000000|[{'id': 12, 'name...|                null|   8844| 113497|               en|             Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|          1995-12-15|           262797249|               104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|             Jumanji|   False|                 6.9|             2413|  2|
|False|       0|[{'id': 10749, 'n...|                null|  15602| 113228|               en|    Grumpier Old Men|A family wedding ...|   11.7129|/6ksm1sjKMFLbO7UY...|[{'name': 'Warner...|[{'iso_3166_1': '...|          1995-12-22|                   0|               101.0|[{'iso_639_1': 'e...|Released|Still Yelling. St...|    Grumpier Old Men|   False|                 6.5|               92|  3|
|False|16000000|[{'id': 35, 'name...|                null|  31357| 114885|               en|   Waiting to Exhale|"Cheated on, mist...|    Bernie| Glo and Robin ta...| determined to fi...|            3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|          1995-12-22|81452156|               127.0|[{'iso_639_1': 'e...|Released|Friends are the p...|Waiting to Exhale|  4|
|False|       0|[{'id': 35, 'name...|                null|  11862| 113041|               en|Father of the Bri...|Just when George ...|  8.387519|/e64sOI48hQXyru7n...|[{'name': 'Sandol...|[{'iso_3166_1': '...|          1995-02-10|            76578911|               106.0|[{'iso_639_1': 'e...|Released|Just When His Wor...|Father of the Bri...|   False|                 5.7|              173|  5|
+-----+--------+--------------------+--------------------+-------+-------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+---+
only showing top 5 rows

In [7]:
df_movie.cache()

DataFrame[adult: string, budget: string, genres: string, homepage: string, tmdb_id: string, imdb_id: string, original_language: string, original_title: string, overview: string, popularity: string, poster_path: string, production_companies: string, production_countries: string, release_date: string, revenue: string, runtime: string, spoken_languages: string, status: string, tagline: string, title: string, video: string, vote_average: string, vote_count: string, id: bigint]

In [17]:
df_movie_genres = df_movie.select(f.col("id").alias("movie_id"), f.col("genres"))
df_movie_genres.printSchema()
df_movie_genres.show(5, truncate=False)

root
 |-- movie_id: long (nullable = false)
 |-- genres: string (nullable = true)

+--------+-------------------------------------------------------------------------------------------------+
|movie_id|genres                                                                                           |
+--------+-------------------------------------------------------------------------------------------------+
|1       |[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}] |
|2       |[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]|
|3       |[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]                                 |
|4       |[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]    |
|5       |[{'id': 35, 'name': 'Comedy'}]                                                                   |
+--------+-------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [9]:
df_movie_genres.cache()

DataFrame[movie_id: bigint, genres: string]

In [18]:
df_movie_genres2 = df_movie_genres.withColumn("genres", f.from_json(f.col("genres"), "array<string>"))
df_movie_genres2.printSchema()
df_movie_genres2.show(5, truncate=False)

root
 |-- movie_id: long (nullable = false)
 |-- genres: array (nullable = true)
 |    |-- element: string (containsNull = true)

+--------+----------------------------------------------------------------------------------------+
|movie_id|genres                                                                                  |
+--------+----------------------------------------------------------------------------------------+
|1       |[{"id":16,"name":"Animation"}, {"id":35,"name":"Comedy"}, {"id":10751,"name":"Family"}] |
|2       |[{"id":12,"name":"Adventure"}, {"id":14,"name":"Fantasy"}, {"id":10751,"name":"Family"}]|
|3       |[{"id":10749,"name":"Romance"}, {"id":35,"name":"Comedy"}]                              |
|4       |[{"id":35,"name":"Comedy"}, {"id":18,"name":"Drama"}, {"id":10749,"name":"Romance"}]    |
|5       |[{"id":35,"name":"Comedy"}]                                                             |
+--------+----------------------------------------------------------------------------------------+
only showing top 5 rows

In [19]:
df_movie_genres2 = df_movie_genres2.withColumn("genres", f.explode("genres"))
df_movie_genres2.show(10, truncate=False)

+--------+-----------------------------+
|movie_id|genres                       |
+--------+-----------------------------+
|1       |{"id":16,"name":"Animation"} |
|1       |{"id":35,"name":"Comedy"}    |
|1       |{"id":10751,"name":"Family"} |
|2       |{"id":12,"name":"Adventure"} |
|2       |{"id":14,"name":"Fantasy"}   |
|2       |{"id":10751,"name":"Family"} |
|3       |{"id":10749,"name":"Romance"}|
|3       |{"id":35,"name":"Comedy"}    |
|4       |{"id":35,"name":"Comedy"}    |
|4       |{"id":18,"name":"Drama"}     |
+--------+-----------------------------+
only showing top 10 rows

In [22]:
import pyspark.sql.types as t
schema = t.StructType(
    [
        t.StructField('id', t.StringType(), True),
        t.StructField('name', t.StringType(), True)
    ]
)
df_movie_genres3 = df_movie_genres2.withColumn('genres', f.from_json('genres', schema))\
.select(f.col('movie_id').cast('int'), f.col('genres.id').cast('int').alias('genre_id'), f.col('genres.name'))
df_movie_genres3.printSchema()
df_movie_genres3.show(10, truncate=False) # Here is the Movie-genre table data

root
 |-- movie_id: integer (nullable = false)
 |-- genre_id: integer (nullable = true)
 |-- name: string (nullable = true)

+--------+--------+---------+
|movie_id|genre_id|name     |
+--------+--------+---------+
|1       |16      |Animation|
|1       |35      |Comedy   |
|1       |10751   |Family   |
|2       |12      |Adventure|
|2       |14      |Fantasy  |
|2       |10751   |Family   |
|3       |10749   |Romance  |
|3       |35      |Comedy   |
|4       |35      |Comedy   |
|4       |18      |Drama    |
+--------+--------+---------+
only showing top 10 rows

In [25]:
#################### Save movie-genre data to MySQL table ####################
df_movie_genres3.select('movie_id', 'genre_id', 'name').write.format("jdbc") \
    .option("url", "jdbc:mysql://localhost:3306/spark_movies") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "movie_genre") \
    .option("user", "root").option("password", "zhuyz928").save()

In [27]:
df_genres = df_movie_genres3.select(['genre_id', 'name']).distinct()
df_genres.sort(f.col('genre_id')).show(df_genres.count()) # Here is the Genres table data

+--------+--------------------+
|genre_id|                name|
+--------+--------------------+
|      12|           Adventure|
|      14|             Fantasy|
|      14|       Miramax Films|
|      16|           Animation|
|      18|               Drama|
|      27|              Horror|
|      28|              Action|
|      35|              Comedy|
|      36|             History|
|      37|             Western|
|      53|            Thriller|
|      80|               Crime|
|      99|         Documentary|
|     219|The Mirisch Corpo...|
|     878|     Science Fiction|
|    2883|             Aniplex|
|    2957|         Double Play|
|    3279|          Vox3 Films|
|    3287|         Screen Gems|
|    3459|      Serenade Films|
|    6003|     Box Productions|
|    6308|U.S. Office of Wa...|
|    7105|   Mwana Productions|
|    7106|            Sylicone|
|    7759|             GoHands|
|    7760|           BROSTA TV|
|    7761|Mardock Scramble ...|
|    7850|            Sciapode|
|    8424|         Fides Films|
|    8453|Télévision Suisse...|
|    9386|First Motion Pict...|
|    9648|             Mystery|
|   10402|               Music|
|   10749|             Romance|
|   10751|              Family|
|   10752|                 War|
|   10769|             Foreign|
|   10770|            TV Movie|
|   11176|Carousel Productions|
|   11602|Vision View Enter...|
|   11687|Le Fresnoy Studio...|
|   11778|        F Comme Film|
|   13993|Meadway-Claude Pr...|
|   17161|       Odyssey Media|
|   18012|  Pulser Productions|
|   18013|         Rogue State|
|   23822|          The Cartel|
|   29812|Telescene Film Gr...|
|   33751|    Sentai Filmworks|
|   34034|       LStar Capital|
|   60250|WhiteFlame Produc...|
|   89695|Trois Brigands Pr...|
+--------+--------------------+

In [28]:
#################### Save genres data to MySQL table ####################
df_genres.select('genre_id', 'name').write.format("jdbc") \
    .option("url", "jdbc:mysql://localhost:3306/spark_movies") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "genres") \
    .option("user", "root").option("password", "zhuyz928").save()

In [36]:
df_movie_prod_companies = df_movie.select(f.col("id").alias("movie_id"), f.col("production_companies"))
df_movie_prod_companies.printSchema()
df_movie_prod_companies.show(5, truncate=False)

root
 |-- movie_id: long (nullable = false)
 |-- production_companies: string (nullable = true)

+--------+-----------------------------------------------------------------------------------------------------------------------------------+
|movie_id|production_companies                                                                                                               |
+--------+-----------------------------------------------------------------------------------------------------------------------------------+
|1       |[{'name': 'Pixar Animation Studios', 'id': 3}]                                                                                     |
|2       |[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]|
|3       |[{'name': 'Warner Bros.', 'id': 6194}, {'name': 'Lancaster Gate', 'id': 19464}]                                                    |
|4       | determined to find a better way to breathe."                                                                                      |
|5       |[{'name': 'Sandollar Productions', 'id': 5842}, {'name': 'Touchstone Pictures', 'id': 9195}]                                       |
+--------+-----------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [38]:
df_movie_prod_companies2 = df_movie_prod_companies.withColumn("production_companies", f.from_json(f.col("production_companies"), "array<string>"))
df_movie_prod_companies2.printSchema()
df_movie_prod_companies2.show(5, truncate=False)

root
 |-- movie_id: long (nullable = false)
 |-- production_companies: array (nullable = true)
 |    |-- element: string (containsNull = true)

+--------+--------------------------------------------------------------------------------------------------------------------------+
|movie_id|production_companies                                                                                                      |
+--------+--------------------------------------------------------------------------------------------------------------------------+
|1       |[{"name":"Pixar Animation Studios","id":3}]                                                                               |
|2       |[{"name":"TriStar Pictures","id":559}, {"name":"Teitler Film","id":2550}, {"name":"Interscope Communications","id":10201}]|
|3       |[{"name":"Warner Bros.","id":6194}, {"name":"Lancaster Gate","id":19464}]                                                 |
|4       |null                                                                                                                      |
|5       |[{"name":"Sandollar Productions","id":5842}, {"name":"Touchstone Pictures","id":9195}]                                    |
+--------+--------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [39]:
df_movie_prod_companies2 = df_movie_prod_companies2.na.drop(subset=['production_companies'])
df_movie_prod_companies2.count()

41599

In [40]:
df_movie_prod_companies2 = df_movie_prod_companies2.withColumn("production_companies", f.explode("production_companies"))
df_movie_prod_companies2.show(10, truncate=False)

+--------+-----------------------------------------------+
|movie_id|production_companies                           |
+--------+-----------------------------------------------+
|1       |{"name":"Pixar Animation Studios","id":3}      |
|2       |{"name":"TriStar Pictures","id":559}           |
|2       |{"name":"Teitler Film","id":2550}              |
|2       |{"name":"Interscope Communications","id":10201}|
|3       |{"name":"Warner Bros.","id":6194}              |
|3       |{"name":"Lancaster Gate","id":19464}           |
|5       |{"name":"Sandollar Productions","id":5842}     |
|5       |{"name":"Touchstone Pictures","id":9195}       |
|6       |{"name":"Regency Enterprises","id":508}        |
|6       |{"name":"Forward Pass","id":675}               |
+--------+-----------------------------------------------+
only showing top 10 rows

In [41]:
schema = t.StructType(
    [
        t.StructField('id', t.StringType(), True),
        t.StructField('name', t.StringType(), True)
    ]
)
df_movie_prod_companies3 = df_movie_prod_companies2.withColumn('production_companies', f.from_json('production_companies', schema))\
.select(f.col('movie_id'), f.col('production_companies.id').alias('company_id'), f.col('production_companies.name'))
df_movie_prod_companies3 = df_movie_prod_companies3.na.drop(subset=['company_id', 'name'])
df_movie_prod_companies3.printSchema()
df_movie_prod_companies3.show(10, truncate=False) # Here is the Movie-prod-company table data

root
 |-- movie_id: long (nullable = false)
 |-- company_id: string (nullable = true)
 |-- name: string (nullable = true)

+--------+----------+-------------------------+
|movie_id|company_id|name                     |
+--------+----------+-------------------------+
|1       |3         |Pixar Animation Studios  |
|2       |559       |TriStar Pictures         |
|2       |2550      |Teitler Film             |
|2       |10201     |Interscope Communications|
|3       |6194      |Warner Bros.             |
|3       |19464     |Lancaster Gate           |
|5       |5842      |Sandollar Productions    |
|5       |9195      |Touchstone Pictures      |
|6       |508       |Regency Enterprises      |
|6       |675       |Forward Pass             |
+--------+----------+-------------------------+
only showing top 10 rows

In [50]:
df_companies = df_movie_prod_companies3.select(['company_id', 'name']).distinct()
df_companies.sort(f.col('company_id')).show(10) # Here is the Prod-companies table data
df_companies.count()

+----------+--------------------+
|company_id|                name|
+----------+--------------------+
|         1|           Lucasfilm|
|        10|           Highlight|
|       100|     Avon Production|
|     10000|Compagnia Cinemat...|
|     10001|Andy Warhol Produ...|
|     10002|Filmscope Enterta...|
|     10005|Balthazar Product...|
|      1001|        Solaris Film|
|     10011|     Alta Producción|
|     10012|   Nadie es Perfecto|
+----------+--------------------+
only showing top 10 rows

22093

In [51]:
df_movie_prod_countries = df_movie.select(f.col("id").alias("movie_id"), f.col("production_countries"))
df_movie_prod_countries.printSchema()
df_movie_prod_countries.show(5, truncate=False)

root
 |-- movie_id: long (nullable = false)
 |-- production_countries: string (nullable = true)

+--------+----------------------------------------------------------+
|movie_id|production_countries                                      |
+--------+----------------------------------------------------------+
|1       |[{'iso_3166_1': 'US', 'name': 'United States of America'}]|
|2       |[{'iso_3166_1': 'US', 'name': 'United States of America'}]|
|3       |[{'iso_3166_1': 'US', 'name': 'United States of America'}]|
|4       |3.859495                                                  |
|5       |[{'iso_3166_1': 'US', 'name': 'United States of America'}]|
+--------+----------------------------------------------------------+
only showing top 5 rows

In [52]:
df_movie_prod_countries2 = df_movie_prod_countries.withColumn("production_countries", f.from_json(f.col("production_countries"), "array<string>"))
df_movie_prod_countries2.printSchema()
df_movie_prod_countries2.show(5, truncate=False)

root
 |-- movie_id: long (nullable = false)
 |-- production_countries: array (nullable = true)
 |    |-- element: string (containsNull = true)

+--------+-------------------------------------------------------+
|movie_id|production_countries                                   |
+--------+-------------------------------------------------------+
|1       |[{"iso_3166_1":"US","name":"United States of America"}]|
|2       |[{"iso_3166_1":"US","name":"United States of America"}]|
|3       |[{"iso_3166_1":"US","name":"United States of America"}]|
|4       |null                                                   |
|5       |[{"iso_3166_1":"US","name":"United States of America"}]|
+--------+-------------------------------------------------------+
only showing top 5 rows

In [53]:
df_movie_prod_countries2 = df_movie_prod_countries2.na.drop(subset=['production_countries'])
df_movie_prod_countries2.count()

42472

In [54]:
df_movie_prod_countries2 = df_movie_prod_countries2.withColumn("production_countries", f.explode("production_countries"))
df_movie_prod_countries2.show(10, truncate=False)

+--------+-----------------------------------------------------+
|movie_id|production_countries                                 |
+--------+-----------------------------------------------------+
|1       |{"iso_3166_1":"US","name":"United States of America"}|
|2       |{"iso_3166_1":"US","name":"United States of America"}|
|3       |{"iso_3166_1":"US","name":"United States of America"}|
|5       |{"iso_3166_1":"US","name":"United States of America"}|
|6       |{"iso_3166_1":"US","name":"United States of America"}|
|7       |{"iso_3166_1":"DE","name":"Germany"}                 |
|7       |{"iso_3166_1":"US","name":"United States of America"}|
|8       |{"iso_3166_1":"US","name":"United States of America"}|
|9       |{"iso_3166_1":"US","name":"United States of America"}|
|10      |{"iso_3166_1":"GB","name":"United Kingdom"}          |
+--------+-----------------------------------------------------+
only showing top 10 rows

In [62]:
schema = t.StructType(
    [
        t.StructField('iso_3166_1', t.StringType(), True),
        t.StructField('name', t.StringType(), True)
    ]
)
df_movie_prod_countries3 = df_movie_prod_countries2.withColumn('production_countries', f.from_json('production_countries', schema))\
.select(f.col('movie_id'), f.col('production_countries.iso_3166_1').alias('country_code'), f.col('production_countries.name'))
df_movie_prod_countries3 = df_movie_prod_countries3.na.drop(subset=['country_code', 'name'])
df_movie_prod_countries3.printSchema()
df_movie_prod_countries3.show(10, truncate=False) # Here is the Movie-prod-country table data

root
 |-- movie_id: long (nullable = false)
 |-- country_code: string (nullable = true)
 |-- name: string (nullable = true)

+--------+------------+------------------------+
|movie_id|country_code|name                    |
+--------+------------+------------------------+
|1       |US          |United States of America|
|2       |US          |United States of America|
|3       |US          |United States of America|
|5       |US          |United States of America|
|6       |US          |United States of America|
|7       |DE          |Germany                 |
|7       |US          |United States of America|
|8       |US          |United States of America|
|9       |US          |United States of America|
|10      |GB          |United Kingdom          |
+--------+------------+------------------------+
only showing top 10 rows

In [63]:
df_countries = df_movie_prod_countries3.select(['country_code', 'name']).distinct()
df_countries.sort(f.col('country_code')).show(10) # Here is the Prod-countries table data
df_countries.count()

+------------+--------------------+
|country_code|                name|
+------------+--------------------+
|          AE|United Arab Emirates|
|          AF|         Afghanistan|
|          AL|             Albania|
|          AM|             Armenia|
|          AN|Netherlands Antilles|
|          AO|              Angola|
|          AQ|          Antarctica|
|          AR|           Argentina|
|          AT|             Austria|
|          AU|           Australia|
+------------+--------------------+
only showing top 10 rows

158

In [66]:
df_links = df_movie.select(f.col("id").alias("movie_id"), f.col("tmdb_id"), f.col('imdb_id'))
df_links = df_links.na.drop(subset=['tmdb_id', 'imdb_id'])
df_links.printSchema()
df_links.show(5, truncate=False) # Here is the Links table data
df_links.count()

root
 |-- movie_id: long (nullable = false)
 |-- tmdb_id: string (nullable = true)
 |-- imdb_id: string (nullable = true)

+--------+-------+-------+
|movie_id|tmdb_id|imdb_id|
+--------+-------+-------+
|1       |862    |114709 |
|2       |8844   |113497 |
|3       |15602  |113228 |
|4       |31357  |114885 |
|5       |11862  |113041 |
+--------+-------+-------+
only showing top 5 rows

45447

In [68]:
df_movie = df_movie.drop('genres', 'production_companies', 'production_countries', 'spoken_languages', 'tmdb_id', 'imdb_id')
df_movie.printSchema()
df_movie.show(10, truncate=False) # Here is the moives table data

root
 |-- adult: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- video: string (nullable = true)
 |-- vote_average: string (nullable = true)
 |-- vote_count: string (nullable = true)
 |-- id: long (nullable = false)

+-----+--------+--------------------------------------------+-----------------+---------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+--------------------------------+--------------------------------+---------------------------------------------------------------+----------------------------------------------------------+--------+------------------------------------------------------------------------------+----------------------------------------+--------+------------------------------------------------------------------------------+-----------------+---+
|adult|budget  |homepage                                    |original_language|original_title             |overview                                                                                                                                                                                                                                                                                                                                                                                                                                                        |popularity|poster_path                     |release_date                    |revenue                                                        |runtime                                                   |status  |tagline                                                                       |title                                   |video   |vote_average                                                                  |vote_count       |id |
+-----+--------+--------------------------------------------+-----------------+---------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+--------------------------------+--------------------------------+---------------------------------------------------------------+----------------------------------------------------------+--------+------------------------------------------------------------------------------+----------------------------------------+--------+------------------------------------------------------------------------------+-----------------+---+
|False|30000000|http://toystory.disney.com/toy-story        |en               |Toy Story                  |Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.                                                                                                                                                 |21.946943 |/rhIRbceoE9lR4veEXuwCC2wARtG.jpg|1995-10-30                      |373554033                                                      |81.0                                                      |Released|null                                                                          |Toy Story                               |False   |7.7                                                                           |5415             |1  |
|False|65000000|null                                        |en               |Jumanji                    |When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.                                                     |17.015539 |/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg|1995-12-15                      |262797249                                                      |104.0                                                     |Released|Roll the dice and unleash the excitement!                                     |Jumanji                                 |False   |6.9                                                                           |2413             |2  |
|False|0       |null                                        |en               |Grumpier Old Men           |A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max.                                                                                                                         |11.7129   |/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg|1995-12-22                      |0                                                              |101.0                                                     |Released|Still Yelling. Still Fighting. Still Ready for Love.                          |Grumpier Old Men                        |False   |6.5                                                                           |92               |3  |
|False|16000000|null                                        |en               |Waiting to Exhale          |"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive ""good man"" to break a string of less-than-stellar lovers. Friends and confidants Vannah                                                                                                                                                                                                                                                                   | Bernie   | Glo and Robin talk it all out  |/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg|[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]|[{'iso_3166_1': 'US', 'name': 'United States of America'}]|81452156|127.0                                                                         |[{'iso_639_1': 'en', 'name': 'English'}]|Released|Friends are the people who let you be yourself... and never let you forget it.|Waiting to Exhale|4  |
|False|0       |null                                        |en               |Father of the Bride Part II|Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home, but that's a plan that -- like George -- will have to change with the arrival of both a grandchild and a kid of his own.                                                                                                                                  |8.387519  |/e64sOI48hQXyru7naBFyssKFxVd.jpg|1995-02-10                      |76578911                                                       |106.0                                                     |Released|Just When His World Is Back To Normal... He's In For The Surprise Of His Life!|Father of the Bride Part II             |False   |5.7                                                                           |173              |5  |
|False|60000000|null                                        |en               |Heat                       |Obsessive master thief, Neil McCauley leads a top-notch crew on various insane heists throughout Los Angeles while a mentally unstable detective, Vincent Hanna pursues him without rest. Each man recognizes and respects the ability and the dedication of the other even though they are aware their cat-and-mouse game may end in violence.                                                                                                                 |17.924927 |/zMyfPUelumio3tiDKPffaUpsQTD.jpg|1995-12-15                      |187436818                                                      |170.0                                                     |Released|A Los Angeles Crime Saga                                                      |Heat                                    |False   |7.7                                                                           |1886             |6  |
|False|58000000|null                                        |en               |Sabrina                    |An ugly duckling having undergone a remarkable change, still harbors feelings for her crush: a carefree playboy, but not before his business-focused brother has something to say about it.                                                                                                                                                                                                                                                                     |6.677277  |/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg|1995-12-15                      |0                                                              |127.0                                                     |Released|You are cordially invited to the most surprising merger of the year.          |Sabrina                                 |False   |6.2                                                                           |141              |7  |
|False|0       |null                                        |en               |Tom and Huck               |A mischievous young boy, Tom Sawyer, witnesses a murder by the deadly Injun Joe. Tom becomes friends with Huckleberry Finn, a boy with no future and no family. Tom has to choose between honoring a friendship or honoring an oath because the town alcoholic is accused of the murder. Tom and Huck go through several adventures trying to retrieve evidence.                                                                                                |2.561161  |/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg|1995-12-22                      |0                                                              |97.0                                                      |Released|The Original Bad Boys.                                                        |Tom and Huck                            |False   |5.4                                                                           |45               |8  |
|False|35000000|null                                        |en               |Sudden Death               |International action superstar Jean Claude Van Damme teams with Powers Boothe in a Tension-packed, suspense thriller, set against the back-drop of a Stanley Cup game.Van Damme portrays a father whose daughter is suddenly taken during a championship hockey game. With the captors demanding a billion dollars by game's end, Van Damme frantically sets a plan in motion to rescue his daughter and abort an impending explosion before the final buzzer...|5.23158   |/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg|1995-12-22                      |64350171                                                       |106.0                                                     |Released|Terror goes into overtime.                                                    |Sudden Death                            |False   |5.5                                                                           |174              |9  |
|False|58000000|http://www.mgm.com/view/movie/757/Goldeneye/|en               |GoldenEye                  |James Bond must unmask the mysterious head of the Janus Syndicate and prevent the leader from utilizing the GoldenEye weapons system to inflict devastating revenge on Britain.                                                                                                                                                                                                                                                                                 |14.686036 |/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg|1995-11-16                      |352194034                                                      |130.0                                                     |Released|No limits. No fears. No substitutes.                                          |GoldenEye                               |False   |6.6                                                                           |1194             |10 |
+-----+--------+--------------------------------------------+-----------------+---------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+--------------------------------+--------------------------------+---------------------------------------------------------------+----------------------------------------------------------+--------+------------------------------------------------------------------------------+----------------------------------------+--------+------------------------------------------------------------------------------+-----------------+---+
only showing top 10 rows

In [69]:
df_ratings = spark.read.option("header","true").csv("./ratings.csv")
df_ratings = df_ratings.drop('userId').withColumnRenamed('movieId', 'movie_id').na.drop(subset=['movie_id', 'rating'])
df_ratings.printSchema()
df_ratings.show(10, truncate=False) # Here is the Ratings table data

root
 |-- movie_id: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- timestamp: string (nullable = true)

+--------+------+----------+
|movie_id|rating|timestamp |
+--------+------+----------+
|110     |1.0   |1425941529|
|147     |4.5   |1425942435|
|858     |5.0   |1425941523|
|1221    |5.0   |1425941546|
|1246    |5.0   |1425941556|
|1968    |4.0   |1425942148|
|2762    |4.5   |1425941300|
|2918    |5.0   |1425941593|
|2959    |4.0   |1425941601|
|4226    |4.0   |1425942228|
+--------+------+----------+
only showing top 10 rows

22/06/13 23:41:22 ERROR TaskSchedulerImpl: Lost executor 0 on 172.27.7.53: Remote RPC client disassociated. Likely due to containers exceeding thresholds, or network issues. Check driver logs for WARN messages.
22/06/13 23:41:22 WARN BlockManagerMasterEndpoint: No more replicas available for rdd_46_1 !
22/06/13 23:41:22 WARN BlockManagerMasterEndpoint: No more replicas available for rdd_46_0 !
22/06/13 23:41:22 WARN BlockManagerMasterEndpoint: No more replicas available for rdd_57_0 !
22/06/13 23:41:22 WARN BlockManagerMasterEndpoint: No more replicas available for rdd_116_1 !
22/06/13 23:41:22 WARN BlockManagerMasterEndpoint: No more replicas available for rdd_116_0 !
22/06/13 23:41:22 WARN BlockManagerMasterEndpoint: No more replicas available for rdd_57_1 !
22/06/13 23:41:48 WARN StandaloneAppClient$ClientEndpoint: Connection to ZHUYANZHAO-HWPC.localdomain:7077 failed; waiting for master to reconnect...
22/06/13 23:41:48 WARN StandaloneSchedulerBackend: Disconnected from Spark cluster! Waiting for reconnection...
22/06/13 23:41:48 WARN StandaloneAppClient$ClientEndpoint: Connection to ZHUYANZHAO-HWPC.localdomain:7077 failed; waiting for master to reconnect...